section {
  width: 100%;
  height: 100vh;
}

.content {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 5%;
  opacity: 0;
  transform: translateY(20vh);
  transition: all 1s cubic-bezier(.215, .61, .355, 1);
  z-index: -1;
}

section.in-page .content {
  opacity: 1;
  transform: translateY(0vh);
}

section.out-page .content {
  opacity: 0;
  transform: translateY(-20vh);
}

.true-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
}

.true-content.first {
  top: 3%;
  z-index: 1;
}

.text {
  width: 45%;
}

.personalized {
  width: 55%;
}

.titolo {
  color: black;
  font-size: 4.5rem;
  font-weight: 800;
}

.bio {
  width: 90%;
  margin-top: 5%;
  font-size: 1.7rem;
  font-weight: 600;
}

.bio.short {
  margin-top: 3%;
}

.personalized .bio {
  width: 75%;
}

.linea {
  color: gray;
  margin-top: 6%;
}

button {
  width: 220px;
  height: 75px;
  margin-top: 4%;
  background-color: #FFFFFF;
  box-shadow: 2px 6px 5px rgba(0, 0, 0, 0.29);
  border-radius: 29px;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  border: 0px;
  cursor: pointer;
  transition: transform 0.4s, background-color 0.2s, color 0.2s, ease-in-out 0.3s;
}

button:hover {
  transform: translateY(-1px);
  background-color: black;
  color: #FFFFFF;
}

.telefono {
  width: 240px;
  margin-right: 15%;
}

.linea2 {
  color: gray;
  margin-top: 1.7%;
}

@media (max-width: 1536px) {

  .true-content {
    margin-top: 5%;
  }

  .true-content.first {
    top: 9%;
  }

}

@media (max-width: 1133px) {

  button {
    font-size: 1.7rem;
  }

  .telefono {
    margin-right: 8%;
  }

  .ipad {
    width: 60%;
  }

  .true-content {
    margin-top: 8%;
  }

  .true-content.first {
    top: 6%;
  }

}

@media (max-width: 390px) {

  section {
    height: fit-content;
  }

  .true-content {
    display: block;
  }

  .content {
    position: static;
    opacity: 1;
    transform: none;
    transition: none;
    z-index: 0;
    text-align: center;
  }

  .text,
  .titolo,
  .bio,
  .personalized,
  .personalized .bio {
    width: 100%;
  }

  .linea {
    width: 60%;
    margin: 6% auto 0;
  }

  #first-phone {
    display: none;
  }

  button {
    width: 180px;
    height: 60px;
    border-radius: 25px;
    margin-top: 7%;
  }

  .linea2 {
    margin-top: 30%;
  }

  .telefono {
    margin-right: 0;
    margin-top: 15%;
  }

}