@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Inter';
}

main {
  width: 100%;
  height: 85.59vh;
  padding: 0 7%;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 8%;
}

.text h1 {
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 8%;
}

.text p {
  margin: 8% 0;
  font-size: 1.55rem;
  font-weight: 600;
}

.text hr {
  color: gray;
}

.download {
  text-align: center;
}

.download h2 {
  font-size: 2.2rem;
}

.download h3 {
  font-size: 1.5rem;
  color: #777777;
  margin-bottom: 8%;
}

button {
  width: 211px;
  height: 70px;
  border: 0;
  background: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.31);
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 8% auto 0;
  transition: transform 0.4s, background-color 0.2s, color 0.2s, ease-in-out 0.3s;
}

button:hover {
  transform: translateY(-1px);
  background-color: black;
  color: white;
}

button img {
  height: 40px;
  margin-left: 20px;
}

#playstore {
  margin-left: 26px;
}

button h4 {
  font-size: 16px;
  font-weight: 800;
  margin-left: 25px;
}