section {
  width: 100%;
  height: 100vh;
}

.content {
  width: 73%;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 5%;
  opacity: 0;
  transform: translateY(20vh);
  transition: all 1s cubic-bezier(.215, .61, .355, 1);
  z-index: -1;
}

section.in-page .content {
  opacity: 1;
  transform: translateY(0vh);
}

section.out-page .content {
  opacity: 0;
  transform: translateY(-20vh);
}

.true-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
}

.true-content.first {
  top: 2.88%;
  z-index: 1;
}

.titolo {
  color: black;
  font-size: 3.3rem;
  font-weight: 800;
}

.bio {
  margin-top: 3%;
  font-size: 1.5rem;
  font-weight: 600;
}

.bio.long {
  margin-top: 5%;
}


.linea {
  width: 100%;
  color: gray;
  margin-top: 6%;
}


button {
  width: 9.74vw;
  height: 3.49vw;
  margin-top: 4%;

  background: #FFFFFF;
  box-shadow: 2px 6px 5px rgba(0, 0, 0, 0.29);
  border-radius: 1.51vw;
  color: black;
  font-size: 1.4rem;
  font-weight: 600;
  border: 0px;
  cursor: pointer;

  transition: transform 0.4s, background-color 0.2s, color 0.2s, ease-in-out 0.3s;
}

button:hover {
  transform: translateY(-1px);
  background-color: black;
  color: #FFFFFF;
}

.telefono {
  width: 240px;
}

.linea2 {
  color: gray;
  margin-top: 1.7%;
}

@media (max-width: 1536px) {

  button {
    font-size: 1.2rem;
  }

}