section {
  width: 100%;
  height: 100vh;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(20vh);
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: -1;
}

.true-content {
  width: 100%;
}

.last .content {
  align-items: normal;
  z-index: 0;
  height: fit-content;
}

section.in-page .content {
  opacity: 1;
  transform: translateY(0vh);
}

section.out-page .content {
  opacity: 0;
  transform: translateY(-20vh);
}

.team h1 {
  font-size: 4rem;
  text-align: center;
}

.team hr {
  width: 30%;
  margin: 1.4% auto 0;
}

.logo-nobg {
  width: 270px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.boxes {
  display: flex;
  justify-content: space-between;
  margin: 3% auto;
}

.boxes.first{
  width: 70%;
}

.boxes.second{
  width: 65%;
}

.box {
  width: 24.09vw;
  height: 8.46vw;
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4vw;
}

.box.solo {
  margin: 0 auto;
  margin-top: 2.5%;
}

.box.right {
  justify-content: end;
}

.box img {
  height: 7.16vw;
  margin: 0 2.5%;
}

.box.solo img {
  position: absolute;
  left: 50%;
  transform: translateX(-85%);
  margin-top: -9.3%;
}

.testo {
  margin: 0 10px;
}

.box.solo .testo {
  margin-top: 7%;
  text-align: center;
  width: 100%;
}

.box.right .testo {
  text-align: right;
}

.box h2 {
  font-size: 1.8rem;
}

.box h3 {
  color: #878787;
  font-size: 1.4rem;
  font-weight: 700;
}

.titolo {
  font-size: 4rem;
  text-align: center;
}

.linea {
  width: 8%;
  border: 1px solid #4d4c4c;
  margin: 1.5% auto 0;
}

.last-linea {
  width: 52.08%;
  border: 1px solid #4d4c4c;
  margin: 2% auto 5%;
}

.bio {
  width: 40%;
  text-align: center;
  margin: 3% auto 0;
  font-weight: 600;
  font-size: 1.8rem;
  color: #333333;
}

#special {
  background: linear-gradient(180deg, #7917dc 0%, #fb7930 61.66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.partnerImages {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
}

.partnerImages img {
  height: 180px;
}

@media (max-width: 1133px) {
  
  .logo-nobg {
    width: 200px;
  }

}